{% include 'admin-header.html' %} 

<!-- page Container -->
<div class="container" id="profile_div">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 border rounded p-5 m-5">
            <h4 class="text-center mt-2">Edit Sub Admin</h4>
            <hr>
            <br>
            <form action="/admin-update-sub-admin" method="post">
                {% for user in userList %}
                <row class="row">
                    <div class="col-md-12">
                        <label>Name</label>
                        <input type="hidden" name="userID" value="{{user[0]}}">
                        <input type="text" class="form-control" name="name" value="{{user[1]}}" required>
                    </div>
                </row>
                <row class="row mt-3">
                    <div class="col-md-12">
                        <label>E-mail</label>
                        <input type="email" class="form-control" name="email" value="{{user[2]}}" required>
                    </div>
                </row>
                <row class="row mt-3">
                    <div class="col-md-12">
                        <label>Password</label>
                        <input type="text" class="form-control" name="password" value="{{user[3]}}" required>
                    </div>
                </row>
                <row class="row mt-3">
                    <div class="col-md-12">
                        <label>Status</label>
                        <select name="status" class="form-control">
                            <option value="{{user[4]}}">Current ({{user[4]}})</option>
                            <option>Active</option>
                            <option>Block</option>
                        </select>
                    </div>
                </row>
                <row class="row mt-5">
                    <div class="col-md-12">
                        <button type="submit" class="form-control btn btn-dark">Submit</button>
                    </div>
                </row>
                {% endfor %}
            </form>
            <br><br>
        </div>
    </div>
</div>
<!-- End Page Container -->

{% include 'admin-footer.html' %}

