{% include 'admin-header.html' %}
<div class="back-button-div">
    <a href="/admin-dash" class="back-button">Home</a>
    <a href="/admin-print-qr-code" class="back-button">Print QR Code</a>
</div><br>

<div class="container">
    
    <br>
   
    <!-- Worker Details -->
    {% for worker in workerList %}
        {% if(session['langMalay']) == 'malay' %}
        <h5>Maklumat Pekerja</h5>
        {% else %}
        <h5>Worker Details</h5>
        {% endif %}
    <hr>
    <div class="row">
        <div class="col-6">
            <p>Registration No- {{worker[1]}}</p>
        </div>
        <div class="col-6">
            <p>Name- {{worker[2]}}</p>
        </div>
    </div>
    <!--End Row-->
    <div class="row">
        <div class="col-6">
            <p>Gender- {{worker[3]}}</p>
        </div>
        <div class="col-6">
            <p>Date of birth- {{worker[4]}}</p>
        </div>
    </div>
    <!--End Row-->
    <div class="row">
        <div class="col-6">
            <p>Citizenship- {{worker[6]}}</p>
        </div>
        <div class="col-6">
            <p>Marital status- {{worker[7]}}</p>
        </div>
    </div>
    <!--End Row-->
    <div class="row">
        <div class="col-6">
            <p>Religion- {{worker[9]}}</p>
        </div>
        <div class="col-6">
            <p>Contact No- {{worker[11]}}</p>
        </div>
    </div>
    <!--End Row-->
    <div class="row">
        <div class="col-6">
            <p>Address 1- {{worker[12]}}</p>
        </div>
        <div class="col-6">
            <p>Address 2- {{worker[13]}}</p>
        </div>
    </div>
    <!--End Row-->
    <div class="row">
        <div class="col-6">
            <p>Address 3- {{worker[14]}}</p>
        </div>
        <div class="col-6">
            <p>Postcode- {{worker[15]}}</p>
        </div>
    </div>
    <!--End Row-->
    <div class="row">
        <div class="col-6">
            <p>City- {{worker[16]}}</p>
        </div>
        <div class="col-6">
            <p>State- {{worker[17]}}</p>
        </div>
    </div>
    <!--End Row-->
    <p class="mt-5">
        {% if(session['langMalay']) == 'malay' %}
        <a href="/admin-print-qr?status=qr&&name={{worker[2]}}&&regN={{worker[1]}}" class="btn btn-primary">Cetak Kod QR</a>
        {% else %}
        <a href="/admin-print-qr?status=qr&&name={{worker[2]}}&&regN={{worker[1]}}" class="btn btn-primary">Print QR Code</a>
        {% endif %}
    <!--
        {% if(session['langMalay']) == 'malay' %}
        <a href="/admin-print-qr?status=qr-3x3&&name={{worker[2]}}&&regN={{worker[1]}}" class="btn btn-primary">Cetak Kod QR(3x3 cm)</a>
        {% else %}
        <a href="/admin-print-qr?status=qr-3x3&&name={{worker[2]}}&&regN={{worker[1]}}" class="btn btn-primary">Print QR Code(3x3 cm)</a>
        {% endif %}
    -->
    </p>
     
    {%endfor%}
    <!-- End Worker Details -->
     
</div>


{% include 'admin-footer.html' %}

