{% include 'admin-header.html' %}




{% if session['admin_update_exe_users_status'] == 'success' %}
  <script>
    Swal.fire('Staff Updated Successfully!')
  </script>
  <p style="display:none;"> {{ session.pop('admin_update_exe_users_status', None) }} </p>
{% endif %}

{% if session['admin_update_exe_users_status'] == 'error' %}
  <script>
    Swal.fire('Staff Updation Fail!, please try again.')
  </script>
  <p style="display:none;"> {{ session.pop('admin_update_exe_users_status', None) }} </p>
{% endif %}   


{% if session['admin_del_exe_users_status'] == 'success' %}
  <script>
    Swal.fire('Staff Deleted Successfully!')
  </script>
  <p style="display:none;"> {{ session.pop('admin_del_exe_users_status', None) }} </p>
{% endif %}


{% if session['admin_del_exe_users_status'] == 'error' %}
    <script>
        Swal.fire('Staff Deletion Fail!')
    </script>
    <p style="display:none;"> {{ session.pop('admin_del_exe_users_status', None) }} </p>
{% endif %}



<div class="back-button-div">
  <a href="/admin-dash" class="back-button">Home</a> 
</div>
<br>
<div class="container">
  {% if(session['langMalay']) == 'malay' %}
  <h5>Jumlah Kakitangan- {{totalUsers}}</h5>
  {% else %}
  <h5>Total Staff- {{totalUsers}}</h5>
  {% endif %}
    
    <br>
    <table id="myTable" class="display">
      <thead>
        <tr>
          <th>
            {% if(session['langMalay']) == 'malay' %}
            Nama Kakitangan
            {% else %}
            Staff Name
            {% endif %}
          </th>
          <th>
            {% if(session['langMalay']) == 'malay' %}
            E-mel
            {% else %}
            E-mail
            {% endif %}
          </th>
          <th>
            {% if(session['langMalay']) == 'malay' %}
            Kata Laluan
            {% else %}
            Password
            {% endif %}
          </th>
          
          <th>
            {% if(session['langMalay']) == 'malay' %}
            Tindakan
            {% else %}
            Action
            {% endif %}
          </th>
        </tr>
      </thead>
      <tbody>
        {% for user in userList %}
          <tr>
            <td>{{user[1]}}</td>
            <td>{{user[2]}}</td>
            <td>{{user[3]}}</td>
            
            <td>
              <a href="/admin-edit-exe-users?usI={{user[0]}}" class="btn btn-secondary">
                {% if(session['langMalay']) == 'malay' %}
                Sunting
                {% else %}
                Edit
                {% endif %}
              </a>
              <a href="/admin-del-exe-users?usI={{user[0]}}" class="btn btn-danger">
                {% if(session['langMalay']) == 'malay' %}
                Padam
                {% else %}
                Delete
                {% endif %}
              </a>
            </td>
          </tr>
        {%endfor%}
      </tbody>
        
      </table>
</div>
<script>
    $(document).ready( function () {
      $('#myTable').DataTable();
    });
</script>
{% include 'admin-footer.html' %}
