{% include 'header.html' %}
<div class="row  sticky-top "  style="background-color: white;">
    <div class="back-button-div d-flex " style="padding-left: 10px;">
        <a href="/add-worker" class="back-button ">Home</a>&nbsp;&nbsp;
        <a href="/my-registration-list" class="back-button ">Registration List</a>&nbsp;&nbsp;
        <div class="ripple">
        <div class="ripple-container"></div>
        Update Profile
        </div>
    </div>
    </div><br>

<div class="container">
    <!-- Worker Family Members -->
    <br><br>
    {% if(session['langMalay']) == 'malay' %}
    <h5>Ahli Keluarga Pekerja</h5>
    {% else %}
    <h5>Worker Family Members</h5>
    {% endif %}
    <hr>

    <div class="row">
        <div class="col-12">
            {% if workerFM|length > 0 %}
            {% for fm in workerFM %}
                <a href="/edit-family-member1?fm={{fm[0]}}" class="btn btn-primary">Family Member {{loop.index}}</a>
            {% endfor %}
            {% else %}
            N/A
            {% endif %}
        </div>
   </div>
    <!--End Row-->
    
    <!-- End * Worker Family Members -->
    
    <br><br>
    <hr>
    <!-- Worker Details -->
    {% for worker in workerList %}
        {% if(session['langMalay']) == 'malay' %}
        <h5>Butiran Pekerja Berdaftar</h5>
        {% else %}
        <h5>Registered Worker Details</h5>
        {% endif %}
    <hr>

    <div class="card shadow p-5">
    <form action="/update-registered-worker1" method="post">
        <div class="row">
            <div class="col-6">
                <input type="hidden" name="w_id" value="{{worker[0]}}">
                <p><b>Registration No-</b> <input type="text" value="{{worker[4]}}" disabled></p>
            </div>
            <div class="col-6">
                <p><b>Name-</b> <input type="text" name="w_name" class="form-control" value="{{worker[7]}}"></p>
            </div>
        </div>
        <!--End Row-->
        <div class="row">
            <div class="col-6">
                <p><b>No. of Family Members-</b> <input type="text" class="form-control" name="w_fm_no" value="{{worker[5]}}"></p>
            </div>
            <div class="col-6">
                <p><b>Status-</b> <input type="text" class="form-control" name="w_status" value="{{worker[6]}}"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <p><b>Created By-</b> <input type="text" class="form-control" value="{{worker[2]}}" disabled></p>
            </div>
            <div class="col-6">
                <p><b>Created Date-</b> <input type="date" class="form-control" value="{{worker[3]}}" disabled></p>
            </div>
        </div>
        <!--End Row-->
        <!--End Row-->
        <div class="row">
            <div class="col-md-6">
                <b> <span for="w_gender">
                   {% if(session['langMalay']) == 'malay' %}
                     Jantina
                   {% else %}
                     Gender-
                   {% endif %}
                 </span>
                 </b>
                 <select class="form-control" id="w_gender" name="w_gender" >
                   <option selected disabled>Pilih</option>
                   {%for gender in genderList %}
                   <option value="{{   gender[0] }}" {% if   gender[0] == worker[9] %}selected{% endif %}>
                     {{  gender[0] }}
                   </option>
                   {% endfor %}
                 </select>
               </div>
           <!-- <div class="col-6">
                <p><b>Gender-</b> <input type="text" name="w_gender" value="{{worker[9]}}"></p>
            </div>-->
            <div class="col-6">
                <p><b>Date of birth-</b> <input type="date" class="form-control" name="w_dob" value="{{worker[10]}}"></p>
            </div>
        </div>
        <!--End Row-->
        <div class="row">
            <div class="col-6">
                <b> <label for="w_citizenship">
                    {% if(session['langMalay']) == 'malay' %}
                      Status Perkahwinan
                    {% else %}
                    Citizenship-
                    {% endif %}
                  </label></b>
                  <select class="form-control" id="w_citizenship" name="w_citizenship" >
                    {%for citizenship in citizenshipList  %}
                    <option value="{{   citizenship[0] }}" {% if   citizenship[0] == worker[12] %}selected{% endif %}>
                      {{ citizenship[0] }}
                    </option>
                    {% endfor %}
                   
                  </select>
            </div>
            <div class="col-6">
                <b> <label for="w_marital_status">
                    {% if(session['langMalay']) == 'malay' %}
                      Status Perkahwinan
                    {% else %}
                      Marital Status-
                    {% endif %}
                  </label></b>
                  <select class="form-control" id="w_maritial_status" name="w_maritial_status" >
                    {%for maritial in maritialList %}
                    <option value="{{   maritial[0] }}" {% if   maritial[0] == worker[9] %}selected{% endif %}>
                      {{ maritial[0] }}
                    </option>
                    {% endfor %}
                   
                  </select>
            </div>
        </div>
        <!--End Row-->
        <div class="row">
            <div class="col-6">
                <b> <label for="w_religion">
                    {% if(session['langMalay']) == 'malay' %}
                      Status Perkahwinan
                    {% else %}
                    Religion-
                    {% endif %}
                  </label></b>
                  <select class="form-control" id="w_religion" name="w_religion" >
                    {%for religion in religionList  %}
                    <option value="{{   religion[0] }}" {% if  religion[0] == worker[15] %}selected{% endif %}>
                      {{ religion[0] }}
                    </option>
                    {% endfor %}
                   
                  </select>
            </div>
            <div class="col-6">
                <p><b>Contact No-</b> <input type="text" class="form-control" name="w_contact_no" value="{{worker[17]}}"></p>
            </div>
        </div>
        <!--End Row-->
        <div class="row">
            <div class="col-6">
                <p><b>Address 1-</b> <input type="text" class="form-control" name="w_address1" value="{{worker[25]}}"></p>
            </div>
            <div class="col-6">
                <p><b>Address 2-</b> <input type="text" class="form-control" name="w_address2" value="{{worker[26]}}"></p>
            </div>
        </div>
        <!--End Row-->
        <div class="row">
            <div class="col-6">
                <p><b>Address 3-</b> <input type="text" class="form-control" name="w_address3" value="{{worker[27]}}"></p>
            </div>
            <div class="col-6">
                <p><b>Postcode-</b> <input type="text" class="form-control" name="w_postcode" value="{{worker[28]}}"></p>
            </div>
        </div>
        <!--End Row-->
        <div class="row">
            <div class="col-6">
                <p><b>City-</b> <input type="text" class="form-control" name="w_city" value="{{worker[29]}}"></p>
            </div>
            <div class="col-6">
                <p><b>State-</b> <input type="text" class="form-control" name="w_state" value="{{worker[30]}}"></p>
            </div>
        </div>
        <!--End Row-->
        
        <br>
        <div class="row">
            <div class="col-6">
                <button type="submit" class="btn btn-primary">Update Worker Details</button>
            </div>
        </div>
        <!--End row-->
    </form>
</div>
    {%endfor%}
    <!-- End Worker Details -->

    <!-- Worker Douments Details -->
    <br><br>
    <hr>
    {% if(session['langMalay']) == 'malay' %}
    <h5>Butiran Dokumen Berdaftar</h5>
    {% else %}
    <h5>Registered Document Detail's</h5>
    {% endif %}
    <hr>
    {% if workerDocs|length > 0 %}
    {% for doc in workerDocs %}
    <br>
    <h5><span class="border-bottom">Document {{ loop.index }}</h5>
    <br>
    <form action="/update-worker-docs1" method="post">

        <div class="row">
            <div class="col-6">
                <img src="{{docsPath}}{{doc[2]}}/uploaded_image.jpg" onerror="this.onerror=null; this.src='./static/img/no-image.png'" id="openImageLink{{loop.index}}" style="width: 50px; height: 50px;">
            </div>
    
            <div class="image-overlay" id="imageOverlay{{loop.index}}">
                <span class="close-button" id="closeButton{{loop.index}}">&times;</span>
                <div class="image-container">
                    <img src="{{docsPath}}{{doc[2]}}/uploaded_image.jpg" onerror="this.onerror=null; this.src='./static/img/no-image.png'" alt="Image">
                </div>
            </div>
    
            <script>
                function viewImg (openImageLink_in, imageOverlay_in, closeButton_in){
                    const openImageLink = document.getElementById(openImageLink_in);
                    const imageOverlay = document.getElementById(imageOverlay_in);
                    const closeButton = document.getElementById(closeButton_in);
    
                    openImageLink.addEventListener("click", function (e) {
                        e.preventDefault();
                        imageOverlay.style.display = "block";
                    });
    
                    closeButton.addEventListener("click", function () {
                        imageOverlay.style.display = "none";
                    });
                }
    
                viewImg("openImageLink{{loop.index}}", "imageOverlay{{loop.index}}", "closeButton{{loop.index}}");
            </script>
        </div>
        <!-- End Row -->
        <br>

        <div class="row">
            <div class="col-6">
                <input type="hidden" name="docs_id" value="{{doc[0]}}">
                <p><b>Type of Document-</b> <input type="text" name="type_of_document" value="{{doc[3]}}"></p>
            </div>
            <div class="col-6">
                <p><b>Document ID-</b> <input type="text" name="document_id" value="{{doc[4]}}"></p>
            </div>
        </div>
        <!--End Row-->
        <div class="row">
            <div class="col-6">
                <p><b>Place of Issue-</b> <input type="text" name="place_of_issue" value="{{doc[5]}}"></p>
            </div>
            <div class="col-6">
                <p><b>Issue Date-</b> <input type="date" name="issue_date" value="{{doc[6]}}"></p>
            </div>
        </div>
        <!--End Row-->
        <div class="row">
            <div class="col-6">
                <p><b>Expiry Date-</b> <input type="date" name="expiry_date" value="{{doc[7]}}"></p>
            </div>
            <div class="col-6">
                <p><b>Issuing Country-</b> <input type="text" name="issuing_country" value="{{doc[8]}}"></p>
            </div>
        </div>
        <!--End Row-->
        <div class="row">
            <div class="col-6">
                <p><b>Document Status-</b> <input type="text" name="document_status" value="{{doc[9]}}"></p>
            </div>
            <div class="col-6">
                <p><b>Document Current Status-</b> <input type="text" name="document_current_status" value="{{doc[10]}}"></p>
            </div>
        </div>
        <!--End Row-->
        <br>
        <div class="row">
            <div class="col-6">
                <button type="submit" class="btn btn-primary">Update Worker Doc {{loop.index}}</button>
            </div>
        </div>
        <!--End Row-->
    </form>

   
    {% endfor %}
    {% else %}
    N/A
    {% endif %}
    <!-- End * Worker Douments Details -->


    <div class="mt-5">
        <button class="btn btn-primary" id="new_dummy_biodata_btn">Dummy Biodata</button>
        <button class="btn btn-primary" id="new_worker_biodata_btn">Worker Biodata</button>
        <br>
        <div id="worker_biodata_con" class="mt-5">
            <form action="/get-profile-bio-data" method="get">
                <div class="row">
                    <div class="col-md-4">
                        <input type="hidden" name="view_regWor" value="{{view_regWor}}">
                        <input type="hidden" name="DocID" class="form-control" value="{{worker_reg_no}}">
                        <br>
                        <button type="submit" class="btn btn-dark" id="getBioBtn">Get BioData</button>
                    </div>
                </div>
            </form>
        </div>

        <div id="dummy_biodata_con" class="mt-5">
            <form action="/get-profile-bio-data" method="get">
                <div class="row">
                    <div class="col-md-4">
                        <input type="hidden" name="view_regWor" value="{{view_regWor}}">
                        <select name="DocID" class="form-control">
                            <option selected disabled>Select Dummy DocID</option>
                            <option>154</option>
                            <option>155</option>
                            <option>159</option>
                            <option>160</option>
                            <option>161</option>
                            <option>162</option>
                            <option>163</option>
                            <option>164</option>
                            <option>165</option>
                            <option>271</option>
                        </select>
                        <br>
                        <button type="submit" class="btn btn-dark" id="getBioBtn">Get BioData</button>
                    </div>
                </div>
            </form>
        </div>


        <br>



        <!-- Insert/Update BioData -->
        {% if bioData %}
        <div class="row">
            <form action="/update-worker-biodata" method="post">
                <div class="row">
                    <div class="col-md-6">
                        <input type="hidden" name="worker_reg_no" value="{{worker_reg_no}}">
                        <input type="hidden" name="docId" value="{{bioData['ProfileBioData']['DocId']}}">
                        <input type="hidden" name="faceImage" value="{{bioData['ProfileBioData']['FaceImage']}}">

                        {% if bioData %}
                            {% for finger in bioData['ProfileBioData']['FingerInfo'] %}
                                {% if loop.index == 1 %}
                                    <input type="hidden" name="totalFingers" value="{{loop.length}}"> 
                                {% endif %} 
                                <input type="hidden" name="fingerRemarks{{loop.index}}" value="{{finger['FingerRemarks']}}">
                                <input type="hidden" name="fingerImage{{loop.index}}" value="{{finger['FingerImage']}}">
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <input type="submit" class="btn btn-primary col-md-2" value="Update BioData">
            </form>
        </div>
        {% endif %}
        <!-- End * Insert/Update BioData -->

        <br>










        <!-- Response Data -->
        {% if bioData %}
        <div class="row border bg-secondary rounded border-dark p-3 mt-5" id="getBioContainer">
            <div class="col-md-4">
                <h6 class="text-center text-white"><span class="border rounded p-2">Photo</span></h6>
                <span class="border rounded bg-white border-dark m-3" style="width: 100%; height: 450px; display: inline-block;">
                {% if bioData %}
                <img src="data:image/png;base64,{{bioData['ProfileBioData']['FaceImage']}}" onerror="this.onerror=null; this.src='./static/img/no-image.png'" style="width: 100%; height: 100%;">
                {% endif %} 
                </span>
            </div>
            <div class="col-md-8" style="margin-left: auto; margin-right: auto;">
                <h6 class="text-center text-white"><span class="border rounded p-2">Fingerprints</span></h6>
                <div class="row text-center">
                    {% if bioData %}
                        {% for finger in bioData['ProfileBioData']['FingerInfo'] %}
                            <span class="border rounded bg-white border-dark m-3 p-2" style="width: 120px; height: 120px; display: inline-block;">
                                <img src="data:image/png;base64,{{finger['FingerImage']}}" style="width: 100%; height: 100%;">
                            </span>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        {% endif %}
        <!-- End Response -->
    </div>

     
</div>     
<!-- End Container -->


{% include 'footer.html' %}

<script>
    workerBiodataCon = $('#worker_biodata_con')
    dummyBiodataCon = $('#dummy_biodata_con')

    workerBiodataCon.hide()
    dummyBiodataCon.hide()

    $('#new_dummy_biodata_btn').click(function(){
        dummyBiodataCon.show()
        workerBiodataCon.hide()
    })
    $('#new_worker_biodata_btn').click(function(){
        dummyBiodataCon.hide()
        workerBiodataCon.show()
    })


</script>