


{% include 'header.html' %}    

{% if(session['profile_success']) %}
  <script>
    Swal.fire('Profile saved successfully')
  </script>
  <p style="display:none;"> {{ session.pop('profile_success', None) }} </p>
{% elif (session['profile_error']) %}
  <script>
    Swal.fire('Something wrong! please try again.')
  </script>
  <p style="display:none;">{{ session.pop('profile_error', None) }}</p>
{% endif %}

{% if (session['profile_completed']) %}
  <script>
    Swal.fire('Your profile already exists.')
  </script>
  <p style="display:none;">{{ session.pop('profile_completed', None) }}</p>
{% endif %}

{% if (session['profile_empty']) %}
  <script>
    Swal.fire('Your profile is not completed!')
  </script>
  <p style="display:none;">{{ session.pop('profile_empty', None) }}</p>
{% endif %}



    <div class="container" id="profile_div">
      <form action="/profile-form-data" method='post'>
        
        <h5>
          {% if(session['langMalay']) == 'malay' %}
            Daftar APS
          {% else %}
            Register APS
          {% endif %}

          {% if(session['langMalay']) == 'malay' %}
            <a href="/edit-profile" class="btn btn-primary float-end">Kemaskini Profil</a>
          {% else %}
            <a href="/edit-profile" class="btn btn-primary float-end">Edit Profile</a>
          {% endif %}
          
        </h5>
        <hr>

        <div class="row mt-3">
          <div class="col-md-6">
            <label for="agency_pekerjaan">
              {% if(session['langMalay']) == 'malay' %}
                Nama Agency Pekerjaan
              {% else %}
              Name of Employment Agency
              {% endif %}
              
            </label>
            <input type="text" class="form-control" id="agency_pekerjaan" name="aps_agency_pekerjaan" required>
          </div>
          <div class="col-md-6">
            <label for="aps_license_category">
              {% if(session['langMalay']) == 'malay' %}
                Jenis Lesen
              {% else %}
                License Category
              {% endif %}
            </label>
            <select id="aps_license_category" name="aps_license_category" class="form-control" required>
              <option disabled selected>Pilih</option>
              {%for licenseCategory in licenseCategoryList%}
              <option>{{licenseCategory[0]}}</option>
              {%endfor%}
            </select>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-md-6">
            <label for="new_SSM_number">
              {% if(session['langMalay']) == 'malay' %}
                No. SSM Baru
              {% else %}
                New SSM Number
              {% endif %}
            </label>
            <input type="text" class="form-control" id="new_SSM_number" name="aps_new_ssm_number" required>
          </div>

          <div class="col-md-6">
            <label for="profile_old_SSM_number">
              {% if(session['langMalay']) == 'malay' %}
                No. SSM Lama
              {% else %}
                Old SSM Number
              {% endif %}
            </label>
            <input type="text" class="form-control" id="profile_old_SSM_number" name="aps_old_ssm_number" required>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-md-6">
            <label for="aps_license_no">
              {% if(session['langMalay']) == 'malay' %}
                No. Lesen APS
              {% else %}
                APS License No.
              {% endif %}
            </label>
            <input type="text" class="form-control" id="aps_license_no" name="aps_license_no" required>
          </div>
          <div class="col-md-6">
            <label for="profile_license_exp_date">
              {% if(session['langMalay']) == 'malay' %}
                Tarikh Luput Lesen
              {% else %}
                License Expiry Date
              {% endif %}
            </label>
            <input type="date" class="form-control" id="profile_license_exp_date" name="aps_license_exp_date" required>
          </div>
        </div>


          <div class="row mt-3">
            <div class="col-md-6">
              <label for="profile_address1">
                {% if(session['langMalay']) == 'malay' %}
                  Alamat 1
                {% else %}
                  Address 1
                {% endif %}
              </label>
              <textarea class="form-control" id="profile_address1" name="aps_address1" required></textarea>
            </div>
            <div class="col-md-6">
              <label for="profile_address2">
                {% if(session['langMalay']) == 'malay' %}
                  Alamat 2
                {% else %}
                  Address 2
                {% endif %}
              </label>
              <textarea class="form-control" id="profile_address2" name="aps_address2" required></textarea>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-md-6">
              <label for="profile_address3">
                {% if(session['langMalay']) == 'malay' %}
                  Alamat 3
                {% else %}
                  Address 3
                {% endif %}
              </label>
              <textarea class="form-control" id="aps_address3" name="aps_address3" required></textarea>
            </div>
            <div class="col-md-6">
              <label for="postcode">
                {% if(session['langMalay']) == 'malay' %}
                  Pos Kod
                {% else %}
                  Postcode
                {% endif %}
              </label>
              <input type="text" class="form-control" id="postcode" name="aps_postcode" required>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-md-6">
              <label for="profile_city">
                {% if(session['langMalay']) == 'malay' %}
                  Bandar
                {% else %}
                  City
                {% endif %}
              </label>
              <select id="profile_city" name="aps_city" class="form-control" required>
                <option selected disabled>Pilih</option>
                {%for city in cityList%}
                  <option>{{city[0]}}</option>
                {%endfor%}
              </select>
            </div>
            <div class="col-md-6">
              <label for="profile_state">
                {% if(session['langMalay']) == 'malay' %}
                  Negeri
                {% else %}
                  State
                {% endif %}
              </label>
              <select id="profile_state" name="aps_state" class="form-control" required>
                <option selected disabled>Pilih</option>
                {%for state in stateList%}
                  <option>{{state[0]}}</option>
                {%endfor%}
              </select>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-md-6">
              <label for="aps_mobile_number">
                {% if(session['langMalay']) == 'malay' %}
                  Pegawai Bertugas
                {% else %}
                Person-in-Charge (PIC)
                {% endif %}
              </label>
              <input type="text" class="form-control" id="aps_contact_person" name="aps_contact_person" required>
            </div>
            <div class="col-md-6">
              <label for="aps_contact_person">
                {% if(session['langMalay']) == 'malay' %}
                No. Telefon Pegawai Bertugas
                {% else %}
                PIC Contact No.
                {% endif %}
              </label>
              <input type="text" class="form-control" id="aps_mobile_number" name="aps_mobile_number" required>
            </div>
          </div>

        <div class="row mt-3">
          <div class="col-md-6">
            <label for="office_telephone_no">
              {% if(session['langMalay']) == 'malay' %}
                No. Telefon Pejabat
              {% else %}
               Office Contact No.
              {% endif %}
            </label>
            <input type="text" class="form-control" id="office_telephone_no" name="aps_office_telephone_no" required> 
          </div>
          <div class="col-md-6">
            <!--
            <label for="profile_email">
              {% if(session['langMalay']) == 'malay' %}
                Emel
              {% else %}
                Email
              {% endif %}
            </label>
            -->
            <input type="hidden" class="form-control" id="aps_email" name="aps_email" value="{{your_email}}">
          </div>
        </div>
      


        <br><br><br>
        <h5>
          {% if(session['langMalay']) == 'malay' %}
            Daftar Majikan
          {% else %}
            Register Employer
          {% endif %}
        </h5>
        <hr>
        <div class="row mt-3">
          <div class="col-md-6">
            <label for="employer_company_name">
              {% if(session['langMalay']) == 'malay' %}
                Nama Syarikat
              {% else %}
                Company Name
              {% endif %}
            </label>
            <input type="text" class="form-control" id="employer_company_name" name="employer_company_name" required>
          </div>
          <div class="col-md-6">
            <label for="employer_new_SSM_number">
              {% if(session['langMalay']) == 'malay' %}
                No. SSM Baru
              {% else %}
                New SSM Number
              {% endif %}
            </label>
            <input type="text" class="form-control" id="employer_new_SSM_number" name="employer_new_ssm_number" required>
          </div>
        </div>
  
        <div class="row mt-3">
          <div class="col-md-6">
            <label for="employer_old_SSM_number">
              {% if(session['langMalay']) == 'malay' %}
                No. SSM Lama
              {% else %}
                Old SSM Number
              {% endif %}
            </label>
            <input type="text" class="form-control" id="employer_old_SSM_number" name="employer_old_ssm_number" required>
          </div>
          <div class="col-md-6">
            <label for="employer_address1">
              {% if(session['langMalay']) == 'malay' %}
                Alamat 1
              {% else %}
                Address 1
              {% endif %}
            </label>
            <textarea required class="form-control" id="employer_address1" name="employer_address1"></textarea>
          </div>
        </div>
  
        <div class="row mt-3">
          <div class="col-md-6">
            <label for="employer_address2">
              {% if(session['langMalay']) == 'malay' %}
                Alamat 2
              {% else %}
                Address 2
              {% endif %}
            </label>
            <textarea required class="form-control" id="employer_address2" name="employer_address2"></textarea>
          </div>
          <div class="col-md-6">
            <label for="employer_address3">
              {% if(session['langMalay']) == 'malay' %}
                Alamat 3
              {% else %}
                Address 3
              {% endif %}
            </label>
            <textarea required class="form-control" id="employer_address3" name="employer_address3"></textarea>
          </div>
        </div>
  
        <div class="row mt-2">
          <div class="col-md-6">
            <label for="employer_postcode">
              {% if(session['langMalay']) == 'malay' %}
                Poskod
              {% else %}
                Postcode
              {% endif %}
            </label>
            <input type="text" required class="form-control" id="employer_postcode" name="employer_postcode">
          </div>
          <div class="col-md-6">
            <label for="employer_city">
              {% if(session['langMalay']) == 'malay' %}
                Bandar
              {% else %}
                City
              {% endif %}
            </label>
            <select id="employer_city" name="employer_city" class="form-control" required>
              <option selected disabled>Pilih</option>
              {%for city in cityList%}
                <option>{{city[0]}}</option>
              {%endfor%}
            </select>
          </div>
        </div>
  
        <div class="row mt-2">
          <div class="col-md-6">
            <label for="employer_state">
              {% if(session['langMalay']) == 'malay' %}
                Negeri
              {% else %}
                State
              {% endif %}
            </label>
            <select id="employer_state" name="employer_state" class="form-control">
              <option selected disabled>Pilih</option>
              {%for state in stateList%}
                <option>{{state[0]}}</option>
              {%endfor%}
            </select>
          </div>
          <div class="col-md-6">
            <label for="employer_Office_telephone_no">
              {% if(session['langMalay']) == 'malay' %}
                No. Telefon Pejabat
              {% else %}
               Office Contact No.
              {% endif %}
            </label>
            <input type="text" required class="form-control" id="employer_Office_telephone_no" name="employer_office_telephone_no">
          </div>
        </div>
  
        <div class="row mt-3">
          <div class="col-md-6">
            <label for="employer_mobile_no">
              {% if(session['langMalay']) == 'malay' %}
                No. telefon bimbit
              {% else %}
                Mobile no.
              {% endif %}
            </label>
            <input type="text" required class="form-control" id="employer_mobile_no" name="employer_mobile_no">
          </div>
          <div class="col-md-6">
            <label for="employer_fax_number">
              {% if(session['langMalay']) == 'malay' %}
                No. Fax
              {% else %}
                Fax Number
              {% endif %}
            </label>
            <input type="text" required class="form-control" id="employer_fax_number" name="employer_fax_number">
          </div>
        </div>
  
        <div class="row mt-3">
          <div class="col-md-6">
            <label for="employer_year_of_commence">
              {% if(session['langMalay']) == 'malay' %}
                Tarikh Mula Operasi
              {% else %}
                Year of Commence
              {% endif %}
            </label>
            <input type="text" required class="form-control" id="employer_year_of_commence" name="employer_year_of_commence">
          </div>
          <div class="col-md-6">
            <label for="employer_sector">
              {% if(session['langMalay']) == 'malay' %}
                Sektor
              {% else %}
                Sector
              {% endif %}
            </label>
            <select id="employer_sector" name="employer_sector" class="form-control">
              <option selected disabled>Pilih</option>
              {%for sector in sectorList%}
                <option>{{sector[0]}}</option>
              {%endfor%}
            </select>
          </div>
        </div>
  
        <div class="row mt-3">
          <div class="col-md-6">
            <label for="employer_name_of_person_in_charge">
              {% if(session['langMalay']) == 'malay' %}
              Nama Pegawai Bertugas
              {% else %}
                Name of Person in-Charge
              {% endif %}
            </label>
            <input type="text" required class="form-control" id="employer_name_of_person_in_charge" name="employer_name_of_person_in_charge">
          </div>
          <div class="col-md-6">
            <label for="employer_designation">
              {% if(session['langMalay']) == 'malay' %}
                Jawatan
              {% else %}
                Designation
              {% endif %}
            </label>
            <!--<input type="text" required class="form-control" id="employer_designation" name="employer_designation"> -->
            <select id="employer_designation" name="employer_designation" class="form-control">
              <option selected disabled>select</option>
              {%for designation in designationList%}
                <option>{{designation[0]}}</option>
              {%endfor%}
            </select>
          </div>
        </div>
  
        <div class="row mt-3">
          <div class="col-md-6">
            <label for="employer_PIC_mobile_number">
              {% if(session['langMalay']) == 'malay' %}
              No. Telefon Pegawai
              {% else %}
              PIC Contact No.
              {% endif %}
            </label>
            <input type="text" required class="form-control" id="employer_PIC_mobile_number" name="employer_pic_mobile_number">
          </div>
        </div>
        
        <br><br><br>
        
        <h5>
          {% if(session['langMalay']) == 'malay' %}
            Daftar Lokasi Cawangan
          {% else %}
            Register Branch Location
          {% endif %}
        </h5>
        <hr>
        <div class="row mt-3">
          <div class="col-md-6">
            <label for="branch_employment_location_name">
              {% if(session['langMalay']) == 'malay' %}
                Nama Syarikat
              {% else %}
                Employment Location Name
              {% endif %}
            </label>
            <input type="text" required class="form-control" id="branch_employment_location_name" name="branch_employment_location_name">
          </div>
          <div class="col-md-6">
            <label for="branch_address1">
              {% if(session['langMalay']) == 'malay' %}
                Alamat 1
              {% else %}
                Address 1
              {% endif %}
            </label>
            <textarea required class="form-control" id="branch_address1" name="branch_address1"></textarea>
          </div>
        </div>
  
        <div class="row mt-3">
          <div class="col-md-6">
            <label for="branch_address2">
              {% if(session['langMalay']) == 'malay' %}
                Alamat 2
              {% else %}
                Address 2
              {% endif %}
            </label>
            <textarea required class="form-control" id="branch_address2" name="branch_address2"></textarea>
          </div>
          <div class="col-md-6">
            <label for="branch_address3">
              {% if(session['langMalay']) == 'malay' %}
                Alamat 3
              {% else %}
                Address 3
              {% endif %}
            </label>
            <textarea required class="form-control" id="branch_address3" name="branch_address3"></textarea>
          </div>
        </div>
  
        <div class="row mt-3">
          <div class="col-md-6">
            <label for="branch_postcode">
              {% if(session['langMalay']) == 'malay' %}
                Poskod
              {% else %}
                Postcode
              {% endif %}
            </label>
            <input type="text" required class="form-control" id="branch_postcode" name="branch_postcode">
          </div>
          <div class="col-md-6">
            <label for="branch_state">
              {% if(session['langMalay']) == 'malay' %}
                Bandar
              {% else %}
                State
              {% endif %}
            </label>
            <select id="branch_state" name="branch_state" class="form-control">
              <option selected disabled>Pilih</option>
              {% for state in stateList %}
                <option>{{state[0]}}</option>
              {%endfor%}
            </select>
          </div>
        </div>
  
        <div class="row mt-3">
          <div class="col-md-6">
            <label for="branch_city">
              {% if(session['langMalay']) == 'malay' %}
                Negeri
              {% else %}
                City
              {% endif %}
            </label>
            <select id="branch_city" name="branch_city" class="form-control">
              <option selected disabled>Pilih</option>
              {%for city in cityList%}
                <option>{{city[0]}}</option>
              {%endfor%}
            </select>
          </div>
          <div class="col-md-6">
            <label for="branch_office_telephone_number">
              {% if(session['langMalay']) == 'malay' %}
                No. Telefon Pejabat
              {% else %}
              Office Contact No.
              {% endif %}
            </label>
            <input type="text" required class="form-control" id="branch_office_telephone_number" name="branch_office_telephone_number">
          </div>
        </div>
  
        <div class="row mt-3">
          <!--<div class="col-md-6">
            <label for="branch_office_mobile_number">
              {% if(session['langMalay']) == 'malay' %}
                No telefon bimbit pejabat
              {% else %}
                Office mobile number
              {% endif %}
            </label>
            <input type="text" required class="form-control" id="branch_office_mobile_number" name="branch_office_mobile_number">
          </div> -->
          <div class="col-md-6">
            <label for="branch_email">
              {% if(session['langMalay']) == 'malay' %}
                Emel
              {% else %}
                Email
              {% endif %}
            </label>
            <input type="email" class="form-control" id="branch_email" name="branch_email">
          </div>
        </div>
  
        <div class="row mt-3">
          <div class="col-md-6">
            <label for="branch_name_of_person_in_charge">
              {% if(session['langMalay']) == 'malay' %}
              Nama Pegawai Bertugas
              {% else %}
                Name of person-in charge
              {% endif %}
            </label>
            <input type="text" required class="form-control" id="branch_name_of_person_in_charge" name="branch_name_of_person_in_charge">
          </div>
          <div class="col-md-6">
            <label for="branch_designation">
              {% if(session['langMalay']) == 'malay' %}
                Jawatan
              {% else %}
                Designation
              {% endif %}
            </label>
            <!-- <input type="text" required class="form-control" id="branch_designation" name="branch_designation"> -->
            <select id="branch_designation" name="branch_designation" class="form-control">
              <option selected disabled>select</option>
              {%for designation in designationList%}
                <option>{{designation[0]}}</option>
              {%endfor%}
            </select>
          </div>
        </div>
  
        <div class="row mt-3">
          <div class="col-md-6">
            <label for="branch_PIC_mobile_number">
              {% if(session['langMalay']) == 'malay' %}
               No. Telefon Pegawai Bertugas
              {% else %}
              PIC Contact No.
              {% endif %}
            </label>
            <input type="text" required class="form-control" id="branch_PIC_mobile_number" name="branch_pic_mobile_number">
          </div>
        </div>

        {% if(session['langMalay']) == 'malay' %}
          <div class="row mt-3">
            <div class="col-md-6">
              <input type="submit" class="form-control bg-dark text-white" id="profile_submit" name="profile_form_data" value="Simpan Profil">
            </div>
          </div> 
        {% else %}
          <div class="row mt-3">
            <div class="col-md-6">
              <input type="submit" class="form-control bg-dark text-white" id="profile_submit" name="profile_form_data" value="Save profile">
            </div>
          </div>
        {% endif %}
        
  
        <br><br>
  
        
        
      </form>
    </div>
  

  
    
  

{% include 'footer.html' %}

