{% include 'header.html' %}
   
<div class="container">
    <br><br>
    <div class="row">
        <div >
            <h5 style="font-family:roboto;"><b>Worker name: </b><span id="workerCon"></span></h5>
            <script>
                let workerName = sessionStorage.getItem("worker_name");
                document.getElementById("workerCon").innerHTML = workerName;
            </script>            
            <div class="card">
                <span style="text-align: right; margin-right: 20px; margin-top: 20px;">
                    <a href="#" id="closeLink">
                        <img src="static/img/remove.png" style="width: 40px; height: 40px;">
                    </a>
                </span>
                <div id="zoom-container">
                    <img id="zoom-image" src="{{viewImg}}" class="zoom">
                </div>
                <br><br>
            </div>
        </div>            
    </div>
</div>
   
{% include 'footer.html' %}

<script>
    document.getElementById('closeLink').addEventListener('click', function(event) {
      event.preventDefault();
      window.close();
    });
</script>

<script>
    const zoomContainer = document.getElementById('zoom-container');
    const zoomImage = document.getElementById('zoom-image');

    let scale = 1; // Initial scale factor
    const maxScale = 2; // Maximum allowed zoom level
    const minScale = 0.5; // Minimum allowed zoom level
    const step = 0.1; // Zoom step

    zoomContainer.addEventListener('wheel', (event) => {
        // Calculate the new scale factor
        scale += event.deltaY > 0 ? -step : step;

        // Ensure the scale stays within the specified limits
        scale = Math.min(Math.max(scale, minScale), maxScale);

        // Apply the transformation to zoom around the cursor
        const offsetX = (event.clientX / zoomContainer.clientWidth) * 100;
        const offsetY = (event.clientY / zoomContainer.clientHeight) * 100;
        zoomImage.style.transformOrigin = `${offsetX}% ${offsetY}%`;
        zoomImage.style.transform = `scale(${scale})`;
    });
</script>
