{% include 'admin-header.html' %}    
    
<!-- Page Container -->
<div class="container">
    <h6 class="text-center">Admin Dashboard</h6>
    
    <h5>START DATE OF THIS OUTREACH :</h5>
    <div class="roww" style="background-color: #D6EEEE;">
        <div class="columnn">
            <span class="admin-dash-label"></span>
        </div>
        <div class="columnn">
            TOTAL FOR TODAY
        </div>
        <div class="columnn">
            PLANTATION AAA
        </div>
        <div class="columnn">
            PLANTATION AAB
        </div>
        <div class="columnn">
            PLANTATION AAC
        </div>
        <div class="columnn">
            TOTAL FOR OUTREACH
        </div>
        <div class="columnn">
            PLANTATION AAA
        </div>
        <div class="columnn">
            PLANTATION AAB
        </div>
        <div class="columnn">
            PLANTATION AAC
        </div>
    </div>

    
    <div class="roww">
        <div class="columnn">
            <span class="admin-dash-label">LEGAL FW</span>
        </div>
        <div class="columnn">
            
        </div>
        <div class="columnn">
            
        </div>
        <div class="columnn">
            
        </div>
        <div class="columnn">
            
        </div>
        <div class="columnn">
            
        </div>
        <div class="columnn">
            0
            <hr>
            {% if plantation_name == 'Plantation AAA' %}
            {{total_legal_worker}}
            {% else %}
                N/A
            {% endif %}  
        </div>
        <div class="columnn">
            0
            <hr>
            {% if plantation_name == 'Plantation AAB' %}
            {{total_legal_worker}}
            {% else %}
                N/A
            {% endif %} 
        </div>
        <div class="columnn">
            0
            <hr>
            {% if plantation_name == 'Plantation AAC' %}
            {{total_legal_worker}}
            {% else %}
                N/A
            {% endif %} 
        </div>
    </div>

   
    <div class="roww" style="background-color: #D6EEEE;">
        <div class="columnn">
            <span class="admin-dash-label"> LEGAL DEPENDENTS</span>
        </div>
        <div class="columnn">
            
        </div>
        <div class="columnn">
            
        </div>
        <div class="columnn">
            
        </div>
        <div class="columnn">
            
        </div>
        <div class="columnn">
        
        </div>
        <div class="columnn">
            0
            <hr>
            {% if plantation_name == 'Plantation AAA' %}
            {{total_legal_fm}}
            {% else %}
                N/A
            {% endif %}
        </div>
        <div class="columnn">
            0
            <hr>
            {% if plantation_name == 'Plantation AAB' %}
            {{total_legal_fm}}
            {% else %}
                N/A
            {% endif %}
        </div>
        <div class="columnn">
            0
            <hr>
            {% if plantation_name == 'Plantation AAC' %}
            {{total_legal_fm}}
            {% else %}
                N/A
            {% endif %}
        </div>
    </div>

  
    <div class="roww">
        <div class="columnn">
            <span class="admin-dash-label"> UNDOCUMENTED FW</span>
        </div>
        <div class="columnn">
            
        </div>
        <div class="columnn">
            
        </div>
        <div class="columnn">
            
        </div>
        <div class="columnn">
            
        </div>
        <div class="columnn">
            
        </div>
        <div class="columnn">
            0
            <hr>
            {% if plantation_name == 'Plantation AAA' %}
            {{total_undocumented_worker}}
            {% else %}
                N/A
            {% endif %}
        </div>
        <div class="columnn">
            0
            <hr>
            {% if plantation_name == 'Plantation AAB' %}
            {{total_undocumented_worker}}
            {% else %}
                N/A
            {% endif %}
        </div>
        <div class="columnn">
            0
            <hr>
            {% if plantation_name == 'Plantation AAC' %}
            {{total_undocumented_worker}}
            {% else %}
                N/A
            {% endif %}
        </div>
    </div>

    <div class="roww" style="background-color: #D6EEEE;">
        <div class="columnn">
            <span class="admin-dash-label"> UNDOCUMENTED DEPENDENTS</span>
        </div>
        <div class="columnn">
            
        </div>
        <div class="columnn">
            
        </div>
        <div class="columnn">
            
        </div>
        <div class="columnn">
            
        </div>
        <div class="columnn">
            
        </div>
        <div class="columnn">
            0
            <hr>
            {% if plantation_name == 'Plantation AAA' %}
            {{total_undocumented_fm}}
            {% else %}
                N/A
            {% endif %}
        </div>
        <div class="columnn">
            0
            <hr>
            {% if plantation_name == 'Plantation AAB' %}
            {{total_undocumented_fm}}
            {% else %}
                N/A
            {% endif %}
        </div>
        <div class="columnn">
            0
            <hr>
            {% if plantation_name == 'Plantation AAC' %}
            {{total_undocumented_worker}}
            {% else %}
                N/A
            {% endif %}
        </div>
    </div>

   
    <div class="roww">
        <div class="columnn">
            <span class="admin-dash-label"> PATI / IMM 13 / OTHERS</span>
        </div>
        <div class="columnn">
            
        </div>
        <div class="columnn">
            
        </div>
        <div class="columnn">
            
        </div>
        <div class="columnn">
            
        </div>
        <div class="columnn">
            
        </div>
        <div class="columnn">
            0
            <hr>
            {% if plantation_name == 'Plantation AAA' %}
            {{total_pati_imm}}
            {% else %}
                N/A
            {% endif %}
        </div>
        <div class="columnn">
            0
            <hr>
            {% if plantation_name == 'Plantation AAB' %}
            {{total_pati_imm}}
            {% else %}
                N/A
            {% endif %}
        </div>
        <div class="columnn">
            0
            <hr>
            {% if plantation_name == 'Plantation AAC' %}
            {{total_pati_imm}}
            {% else %}
                N/A
            {% endif %}
        </div>
    </div>

  
    <div class="roww" style="background-color: #D6EEEE;">
        <div class="columnn">
            <span class="admin-dash-label"><b>TOTAL</b></span>
        </div>
        <div class="columnn">
            
        </div>
        <div class="columnn">
            
        </div>
        <div class="columnn">
            
        </div>
        <div class="columnn">
            
        </div>
        <div class="columnn">
            
        </div>
        <div class="columnn">
            0
            <hr>
            {% if plantation_name == 'Plantation AAA' %}
            {{totalData}}
            {% else %}
                N/A
            {% endif %}
        </div>
        <div class="columnn">
            0
            <hr>
            {% if plantation_name == 'Plantation AAB' %}
            {{totalData}}
            {% else %}
                N/A
            {% endif %}
        </div>
        <div class="columnn">
            0
            <hr>
            {% if plantation_name == 'Plantation AAC' %}
            {{totalData}}
            {% else %}
                N/A
            {% endif %}
        </div>
    </div> 

</div>
<!-- End Page Container -->
  

{% include 'admin-footer.html' %}
