{% include 'admin-header.html' %} 

{% if session['admin_outreach_status'] == 'success' %}
  <script>
    Swal.fire('Outreach created successfully!')
  </script>
  <p style="display:none;"> {{ session.pop('admin_outreach_status', None) }} </p>
{% endif %}

{% if session['admin_outreach_status'] == 'exist' %}
  <script>
    Swal.fire('Outreach for today already exists!')
  </script>
  <p style="display:none;"> {{ session.pop('admin_outreach_status', None) }} </p>
{% endif %}

{% if session['admin_outreach_status'] == 'error' %}
  <script>
    Swal.fire('Creation fail!, please try again.')
  </script>
  <p style="display:none;"> {{ session.pop('admin_outreach_status', None) }} </p>
{% endif %} 

<!-- page Container -->
<div class="container">
    
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-7 border rounded p-5 m-5" style="background-color: #E3E7EC;">
            <div class="row" id="view_profile_container">
                <div class="col-md-10" style="background-color: #fff; margin-left: 1.5cm; padding: 1cm; border-radius: 10px; text-align: center;">
                    <h5><span>Outreach<hr></span></h5>
                    <!-- Add the pulled button her -->
                    <button id="showAlertButton" style="position: absolute; top: 10px; right: 10px;" class="btn btn-primary">Pull Data from Central Server </button>
                    
                    <form action="/admin-insert-outreach" method="post">
                        <row class="row">
                            <div class="col-md-12">
                                <label style="float: left;">Date</label>
                                <input type="date" class="form-control" name="date_for" required>
                            </div>
                        </row>
                        <row class="row mt-3">
                            <div class="col-md-12">
                                <label style="float: left;">Plantation Name</label>
                                <select name="plantation_name" class="form-control">
                                    <option selected disabled>Pilih</option>
                                    <option>Plantation AAA</option>
                                    <option>Plantation AAB</option>
                                    <option>Plantation AAC</option>
                                </select>
                            </div>
                        </row>
                        <row class="row mt-3">
                            <div class="col-md-12">
                                <label style="float: left;">Total Legal worker for this outreach</label>
                                <input type="number" class="form-control" name="total_legal_worker" required>
                            </div>
                        </row>
                        <row class="row mt-3">
                            <div class="col-md-12">
                                <label style="float: left;">Total Undocumented worker for this outreach</label>
                                <input type="number" class="form-control" name="total_undocumented_worker" required>
                            </div>
                        </row>
                        <row class="row mt-3">
                            <div class="col-md-12">
                                <label style="float: left;">Total Legal Family member for this outreach</label>
                                <input type="number" class="form-control" name="total_legal_fm" required>
                            </div>
                        </row>
                        <row class="row mt-3">
                            <div class="col-md-12">
                                <label style="float: left;">Total Undocumented Family member for this outreach</label>
                                <input type="number" class="form-control" name="total_undocumented_fm" required>
                            </div>
                        </row>
                        <row class="row mt-3">
                            <div class="col-md-12">
                                <label style="float: left;">Total PATI/IMM 13/ OTHERS for this outreach</label>
                                <input type="number" class="form-control" name="total_pati_imm" required>
                            </div>
                        </row>
                        <row class="row mt-5">
                            <div class="col-md-4">
                                <button type="submit" class="form-control btn btn-dark">Submit</button>
                            </div>
                        </row>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>

</div>
<!-- End Page Container -->


{% include 'admin-footer.html' %}

<!-- JavaScript to show the alert -->
<script>
        document.getElementById('showAlertButton').addEventListener('click', function() {
            Swal.fire('Data Pulled successfully');
        });
    </script>