
</div>
<!-- End Main Div -->

<br><br>

<script>
  function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
    //document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
  }
  
  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft= "0";
    document.body.style.backgroundColor = "white";
  }
</script>

<script>
  function checkInternetConnection() {
    var alertElement = document.getElementById('alert');
    var onlineButton = document.getElementById('onlineButton');

    // Fetch the server IP from the /get-server-ip route using GET request
    fetch('/get-server-ip', {
      method: 'GET',
    })
      .then(response => response.json())
      .then(data => {
        const serverIP = data.serverIP;

        if (serverIP) {
          // Use the serverIP in /server-connection request
          fetch(`/server-connection?url=${serverIP}`)
            .then(response => response.json())
            .then(data => {
              if (data.status === 'connected') {
                alertElement.style.display = 'none';
                onlineButton.style.display = 'block';
              } else {
                alertElement.style.display = 'block';
                onlineButton.style.display = 'none';
              }
            })
            .catch(error => {
              // Handle the error
              alertElement.style.display = 'block';
              onlineButton.style.display = 'none';
            });
        } else {
          // Handle the case when no server IP is found
          alertElement.style.display = 'block';
          onlineButton.style.display = 'none';
        }
      })
      .catch(error => {
        // Handle the error, e.g., /get-server-ip route is not available
        alertElement.style.display = 'block';
        onlineButton.style.display = 'none';
      });
  }

  // Check the connection status every 5 seconds (5000 milliseconds)
  const checkInterval = 5000;
  setInterval(checkInternetConnection, checkInterval);

  // Initial check
  checkInternetConnection();
</script>


<script src="../static/js/main.js"></script>
</body>
</html>