{% include 'header.html' %}    
    
    <div class="container">
      <form action="/profile-data" method='post'>
  
        <div class="row mt-3">
          <div class="col-md-6">
            <label for="agency_pekerjaan">Agency Pekerjaan</label>
            <input type="text" required class="form-control" id="agency_pekerjaan" name="agency_pekerjaan" required>
          </div>
          <div class="col-md-6">
            <label for="license_category">License Category</label>
            <select id="license_category" name="license_category" class="form-control" required>
              <option>a</option>
              <option>b</option>
              <option>c</option>
            </select>
          </div>
        </div>
  
        <div class="row mt-3">
          <div class="col-md-6">
            <label for="postcode">Postcode</label>
            <input type="text" required class="form-control" id="postcode" name="postcode" required>
          </div>
          <div class="col-md-6">
            <label for="office_telephone_no">Office telephone no</label>
            <input type="text" required class="form-control" id="office_telephone_no" name="office_telephone_no" required> 
          </div>
        </div>
  
        <div class="row mt-3">
          <div class="col-md-6">
            <label for="new_SSM_number">New SSM Number</label>
            <input type="text" required class="form-control" id="new_SSM_number" name="new_SSM_number" required>
          </div>
          <div class="col-md-6">
            <label for="profile_address1">Address 1</label>
            <textarea class="form-control" id="profile_address1" name="profile_address1" required></textarea>
          </div>
        </div>
  
        <div class="row mt-3">
          <div class="col-md-6">
            <label for="profile_city">City</label>
            <select id="profile_city" name="profile_city" class="form-control" required>
              <option>a</option>
              <option>b</option>
              <option>c</option>
            </select>
          </div>
          <div class="col-md-6">
            <label for="profile_mobile_number">Mobile Number</label>
            <input type="text" required class="form-control" id="profile_mobile_number" name="profile_mobile_number" required>
          </div>
        </div>
  
        <div class="row mt-3">
          <div class="col-md-6">
            <label for="profile_old_SSM_number">Old SSM Number</label>
            <input type="text" required class="form-control" id="profile_old_SSM_number" name="profile_old_SSM_number" required>
          </div>
          <div class="col-md-6">
            <label for="profile_address2">Address 2</label>
            <textarea class="form-control" id="profile_address2" name="profile_address2" required></textarea>
          </div>
        </div>
  
        <div class="row mt-3">
          <div class="col-md-6">
            <label for="profile_state">State</label>
            <select id="profile_state" name="profile_state" class="form-control" required>
              <option>a</option>
              <option>b</option>
              <option>c</option>
            </select>
          </div>
          <div class="col-md-6">
            <label for="profile_email">Email</label>
            <input type="text" required class="form-control" id="profile_email" name="profile_email" required>
          </div>
        </div>
  
        <div class="row mt-3">
          <div class="col-md-6">
            <label for="profile_APS_license_no">APS License No.</label>
            <input type="text" required class="form-control" id="profile_APS_license_no" name="profile_old_SSM_number" required>
          </div>
          <div class="col-md-6">
            <label for="profile_address3">Address 3</label>
            <textarea class="form-control" id="profile_address3" name="profile_address3" required></textarea>
          </div>
        </div>
  
        <div class="row mt-3">
          <div class="col-md-6">
            <label for="profile_license_exp_date">License Exp Date</label>
            <input type="text" required class="form-control" id="profile_license_exp_date" name="profile_license_exp_date">
          </div>
          <div class="col-md-6">
            <label for="profile_contact_person">Contact Person</label>
            <input type="text" required class="form-control" id="profile_contact_person" name="profile_contact_person">
          </div>
        </div>
  
        <br><br><br>
  
        <div class="row mt-3">
          <div class="col-md-6">
            <label for="employer_company_name">Company name</label>
            <input type="text" required class="form-control" id="employer_company_name" name="employer_company_name">
          </div>
          <div class="col-md-6">
            <label for="employer_new_SSM_number">New SSM number</label>
            <input type="text" required class="form-control" id="employer_new_SSM_number" name="employer_new_SSM_number">
          </div>
        </div>
  
        <div class="row mt-3">
          <div class="col-md-6">
            <label for="employer_old_SSM_number">Old SSM number</label>
            <input type="text" required class="form-control" id="employer_old_SSM_number" name="employer_old_SSM_number">
          </div>
          <div class="col-md-6">
            <label for="employer_address1">Address 1</label>
            <textarea required class="form-control" id="employer_address1" name="employer_address1"></textarea>
          </div>
        </div>
  
        <div class="row mt-3">
          <div class="col-md-6">
            <label for="employer_address2">Address 2</label>
            <textarea required class="form-control" id="employer_address2" name="employer_address2"></textarea>
          </div>
          <div class="col-md-6">
            <label for="employer_address3">Address 3</label>
            <textarea required class="form-control" id="employer_address3" name="employer_address3"></textarea>
          </div>
        </div>
  
        <div class="row mt-2">
          <div class="col-md-6">
            <label for="employer_postcode">Postcode</label>
            <input type="text" required class="form-control" id="employer_postcode" name="employer_postcode">
          </div>
          <div class="col-md-6">
            <label for="employer_city">City</label>
            <select id="employer_city" name="employer_city" class="form-control">
              <option>a</option>
              <option>b</option>
              <option>c</option>
            </select>
          </div>
        </div>
  
        <div class="row mt-2">
          <div class="col-md-6">
            <label for="employer_state">State</label>
            <select id="employer_state" name="employer_state" class="form-control">
              <option>a</option>
              <option>b</option>
              <option>c</option>
            </select>
          </div>
          <div class="col-md-6">
            <label for="employer_Office_telephone_no">Office telephone no</label>
            <input type="text" required class="form-control" id="employer_Office_telephone_no" name="employer_Office_telephone_no">
          </div>
        </div>
  
        <div class="row mt-3">
          <div class="col-md-6">
            <label for="employer_mobile_no">Mobile No.</label>
            <input type="text" required class="form-control" id="employer_mobile_no" name="employer_mobile_no">
          </div>
          <div class="col-md-6">
            <label for="employer_fax_number">Fax Number</label>
            <input type="text" required class="form-control" id="employer_fax_number" name="employer_fax_number">
          </div>
        </div>
  
        <div class="row mt-3">
          <div class="col-md-6">
            <label for="employer_year_of_commence">Year of commence</label>
            <input type="text" required class="form-control" id="employer_year_of_commence" name="employer_year_of_commence">
          </div>
          <div class="col-md-6">
            <label for="employer_sector">Sector</label>
            <input type="text" required class="form-control" id="employer_sector" name="employer_sector">
          </div>
        </div>
  
        <div class="row mt-3">
          <div class="col-md-6">
            <label for="employer_name_of_person_in_harge">Name of person in-charge</label>
            <input type="text" required class="form-control" id="employer_name_of_person_in_harge" name="employer_name_of_person_in_harge">
          </div>
          <div class="col-md-6">
            <label for="employer_designation">Designation</label>
            <input type="text" required class="form-control" id="employer_designation" name="employer_designation">
          </div>
        </div>
  
        <div class="row mt-3">
          <div class="col-md-6">
            <label for="employer_PIC_mobile_number">PIC mobile number</label>
            <input type="text" required class="form-control" id="employer_PIC_mobile_number" name="employer_PIC_mobile_number">
          </div>
        </div>
        
        <br><br><br>
  
        <div class="row mt-3">
          <div class="col-md-6">
            <label for="branch_employment_location_name">Employment Location Name</label>
            <input type="text" required class="form-control" id="employer_old_SSM_number" name="employer_old_SSM_number">
          </div>
          <div class="col-md-6">
            <label for="branch_address1">Address 1</label>
            <textarea required class="form-control" id="branch_address1" name="branch_address1"></textarea>
          </div>
        </div>
  
        <div class="row mt-3">
          <div class="col-md-6">
            <label for="branch_address2">Address 2</label>
            <textarea required class="form-control" id="branch_address2" name="branch_address2"></textarea>
          </div>
          <div class="col-md-6">
            <label for="branch_address3">Address 3</label>
            <textarea required class="form-control" id="branch_address3" name="branch_address3"></textarea>
          </div>
        </div>
  
        <div class="row mt-3">
          <div class="col-md-6">
            <label for="branch_postcode">Postcode</label>
            <input type="text" required class="form-control" id="branch_postcode" name="branch_postcode">
          </div>
          <div class="col-md-6">
            <label for="branch_state">State</label>
            <select id="branch_state" name="branch_state" class="form-control">
              <option>a</option>
              <option>b</option>
              <option>c</option>
            </select>
          </div>
        </div>
  
        <div class="row mt-3">
          <div class="col-md-6">
            <label for="branch_city">City</label>
            <select id="branch_city" name="branch_city" class="form-control">
              <option>a</option>
              <option>b</option>
              <option>c</option>
            </select>
          </div>
          <div class="col-md-6">
            <label for="branch_office_telephone_number">Office telephone no</label>
            <input type="text" required class="form-control" id="branch_office_telephone_number" name="branch_office_telephone_number">
          </div>
        </div>
  
        <div class="row mt-3">
          <div class="col-md-6">
            <label for="branch_office_mobile_number">Office mobile Number</label>
            <input type="text" required class="form-control" id="branch_office_mobile_number" name="branch_office_mobile_number">
          </div>
          <div class="col-md-6">
            <label for="branch_email">Email</label>
            <input type="email" class="form-control" id="branch_email" name="branch_email">
          </div>
        </div>
  
        <div class="row mt-3">
          <div class="col-md-6">
            <label for="branch_name_of_person_in_charge">Name of person-in charge</label>
            <input type="text" required class="form-control" id="branch_name_of_person_in_charge" name="branch_name_of_person_in_charge">
          </div>
          <div class="col-md-6">
            <label for="branch_designation">Designation</label>
            <input type="text" required class="form-control" id="designation" name="designation">
          </div>
        </div>
  
        <div class="row mt-3">
          <div class="col-md-6">
            <label for="branch_PIC_mobile_number">PIC mobile number</label>
            <input type="text" required class="form-control" id="branch_PIC_mobile_number" name="branch_PIC_mobile_number">
          </div>
        </div>
        
        <div class="row mt-3">
          <div class="col-md-6">
            <input type="submit" class="form-control bg-dark text-white" id="profile_submit" name="profile_submit">
          </div>
        </div>
  
        <br><br>
  
        
        
      </form>
    </div>
  
    <!-- Add Worker List {awl} -->
    <div class="container" id="add_worker_list">
  
      <h4 style="font-family: roboto;">Add Worker List</h4>
      <form action="/add-worker-list" method='post'>
  
        <div class="row mt-3">
          <div class="col-md-6">
            <label for="awl_worker_registration_no">Worker Registration No</label>
            <input type="text" required class="form-control" id="awl_worker_registration_no" name="awl_worker_registration_no" required>
          </div>
          <div class="col-md-6">
            <label for="awl_no_of_family_member">No. of family member</label>
            <input type="text" required class="form-control" id="awl_no_of_family_member" name="awl_no_of_family_member" required>
          </div>
        </div>
  
        <div class="row mt-3">
          <div class="col-md-6">
            <label for="awl_worker_legal_tatus">Worker Legal Status</label>
            <input type="text" required class="form-control" id="awl_worker_legal_tatus" name="awl_worker_legal_tatus" required>
          </div>
          <div class="col-md-6">
            <label for="awl_name_of_worker">Name of worker</label>
            <input type="text" required class="form-control" id="awl_name_of_worker" name="awl_name_of_worker" required> 
          </div>
        </div>
  
        <div class="row mt-3">
          <div class="col-md-6">
            <label for="awl_family_name">Family name</label>
            <input type="text" required class="form-control" id="awl_family_name" name="awl_family_name" required>
          </div>
          <div class="col-md-6">
            <label for="awl_gender">Gender</label>
            <input type="text" class="form-control" id="awl_gender" name="awl_gender" required>
          </div>
        </div>
  
        <div class="row mt-3">
          <div class="col-md-6">
            <label for="awl_d_o_b">D.O.B</label>
            <input type="text" required class="form-control" id="awl_d_o_b" name="awl_d_o_b" required>
          </div>
          <div class="col-md-6">
            <label for="awl_place_of_birth">Place of birth</label>
            <input type="text" class="form-control" id="awl_place_of_birth" name="awl_place_of_birth" required>
          </div>
        </div>
        
        <div class="row mt-3">
          <div class="col-md-6">
            <label for="awl_citizenship">Citizenship</label>
            <input type="text" required class="form-control" id="awl_citizenship" name="awl_citizenship" required>
          </div>
          <div class="col-md-6">
            <label for="awl_maritial_status">Maritial Status</label>
            <input type="text" class="form-control" id="awl_maritial_status" name="awl_maritial_status" required>
          </div>
        </div>
  
        <div class="row mt-3">
          <div class="col-md-6">
            <label for="awl_point_of_entry">Point of Entry</label>
            <input type="text" required class="form-control" id="awl_point_of_entry" name="awl_point_of_entry" required>
          </div>
          <div class="col-md-6">
            <label for="awl_religion">Religion</label>
            <input type="text" class="form-control" id="awl_religion" name="awl_religion" required>
          </div>
        </div>
  
        <div class="row mt-3">
          <div class="col-md-6">
            <label for="awl_race">Race</label>
            <input type="text" required class="form-control" id="awl_race" name="awl_race" required>
          </div>
          <div class="col-md-6">
            <label for="awl_worker_contact_no">Worker Contact no.</label>
            <input type="text" class="form-control" id="awl_worker_contact_no" name="awl_worker_contact_no" required>
          </div>
        </div>
  
        <div class="row mt-3">
          <div class="col-md-6">
            <label for="awl_worker_email">Worker Email</label>
            <input type="email" required class="form-control" id="awl_worker_email" name="awl_worker_email" required>
          </div>
          <div class="col-md-6">
            <label for="awl_name_of_next_kin">Name of next-kin(NOK)</label>
            <input type="text" class="form-control" id="awl_name_of_next_kin" name="awl_name_of_next_kin" required>
          </div>
        </div>
  
        <div class="row mt-3">
          <div class="col-md-6">
            <label for="awl_relationship">Relationship</label>
            <input type="text" required class="form-control" id="awl_relationship" name="awl_relationship" required>
          </div>
          <div class="col-md-6">
            <label for="awl_nok_contact_no">Nok contact no</label>
            <input type="text" class="form-control" id="awl_nok_contact_no" name="awl_nok_contact_no" required>
          </div>
        </div>
  
        <div class="row mt-3">
          <div class="col-md-6">
            <label for="awl_employement_details">Employement Details</label>
            <input type="text" required class="form-control" id="awl_employement_details" name="awl_employement_details" required>
          </div>
          <div class="col-md-6">
            <label for="awl_job_sector">Job Sector</label>
            <input type="text" class="form-control" id="awl_job_sector" name="awl_job_sector" required>
          </div>
        </div>
  
        <div class="row mt-3">
          <div class="col-md-6">
            <label for="awl_job_sub_sector">Job sub sector</label>
            <input type="text" required class="form-control" id="awl_job_sub_sector" name="awl_job_sub_sector" required>
          </div>
          <div class="col-md-6">
            <label for="awl_employement_sponsorship_status">Employement Sponsorship Status</label>
            <input type="text" class="form-control" id="awl_employement_sponsorship_status" name="awl_employement_sponsorship_status" required>
          </div>
        </div>
  
        <div class="row mt-3">
          <div class="col-md-6">
            <label for="awl_address1">Address 1</label>
            <textarea required class="form-control" id="awl_address1" name="awl_address1"></textarea>
          </div>
          <div class="col-md-6">
            <label for="awl_address2">Address 2</label>
            <textarea required class="form-control" id="awl_address2" name="awl_address2"></textarea>
          </div>
        </div>
  
        <div class="row mt-3">
          <div class="col-md-6">
            <label for="awl_address3">Address 3</label>
            <textarea required class="form-control" id="awl_address3" name="awl_address3"></textarea>
          </div>
          <div class="col-md-6">
            <label for="awl_city">City</label>
            <select id="awl_city" name="awl_city" class="form-control">
              <option>a</option>
              <option>b</option>
              <option>c</option>
            </select>
          </div>        
        </div>
        
        <div class="row mt-3">
          <div class="col-md-6">
            <label for="awl_state">State</label>
            <select id="awl_state" name="awl_state" class="form-control">
              <option>a</option>
              <option>b</option>
              <option>c</option>
            </select>
          </div>
          <div class="col-md-6">
            <label for="awl_working_status">Working status</label>
            <input type="text" class="form-control" id="awl_working_status" name="awl_working_status" required>
          </div>
        </div>
  
        <div class="row mt-3">
          <div class="col-md-6">
            <label for="awl_document_details">Document Details</label>
            <input type="text" required class="form-control" id="awl_document_details" name="awl_document_details" required>
          </div>
          <div class="col-md-6">
            <label for="awl_document_id">Document id</label>
            <input type="text" class="form-control" id="awl_document_id" name="awl_document_id" required>
          </div>
        </div>
  
        <div class="row mt-3">
          <div class="col-md-6">
            <label for="awl_type_of_documents">Type of Documents</label>
            <input type="text" required class="form-control" id="awl_type_of_documents" name="awl_type_of_documents" required>
          </div>
          <div class="col-md-6">
            <label for="awl_capture_document">Capture Document</label>
            <input type="text" class="form-control" id="awl_capture_document" name="awl_capture_document" required>
          </div>
        </div>
  
        <div class="row mt-3">
          <div class="col-md-6">
            <label for="awl_place_of_issue">Place of issue</label>
            <input type="text" required class="form-control" id="awl_place_of_issue" name="awl_place_of_issue" required>
          </div>
          <div class="col-md-6">
            <label for="awl_document_issued_date">Document issued date</label>
            <input type="date" class="form-control" id="awl_document_issued_date" name="awl_document_issued_date" required>
          </div>
        </div>
  
        <div class="row mt-3">
          <div class="col-md-6">
            <label for="awl_document_expiry_date">Document Expiry Date</label>
            <input type="date" required class="form-control" id="awl_document_expiry_date" name="awl_document_expiry_date" required>
          </div>
          <div class="col-md-6">
            <label for="awl_country_of_document_issued">Country of document issued</label>
            <input type="text" class="form-control" id="awl_country_of_document_issued" name="awl_country_of_document_issued" required>
          </div>
        </div>
  
        <div class="row mt-3">
          <div class="col-md-6">
            <label for="awl_document_status">Document status</label>
            <input type="text" required class="form-control" id="awl_document_status" name="awl_document_status" required>
          </div>
          <div class="col-md-6">
            <label for="awl_status_od_current_document">Status od current document </label>
            <input type="text" class="form-control" id="awl_status_od_current_document" name="awl_status_od_current_document" required>
          </div>
        </div>
  
        <div class="row mt-3">
          <div class="col-md-6">
            <label for="awl_document_no">Document no</label>
            <input type="text" required class="form-control" id="awl_document_no" name="awl_document_no" required>
          </div>
        </div>
  
        <div class="row mt-3">
          <div class="col-md-6">
            <input type="submit" class="form-control bg-primary text-white"  name="submit" value="Add Worker" required>
          </div>
        </div>
      </form>
    </div>
    <!-- End Add Worker List -->
  
    <!-- Family Member {fm} -->
    <div class="container mt-5" id="family_member">
      
      <h4 style="font-family: roboto;">Family Member</h4>
      
      <form action="/add-worker-list" method='post'>
  
        <div class="row mt-3">
          <div class="col-md-6">
            <label for="fm_worker_name">Worker Name</label>
            <input type="text" required class="form-control" id="fm_worker_name" name="fm_worker_name" required>
          </div>
          <div class="col-md-6">
            <label for="fm_relationship">Relationship</label>
            <input type="text" required class="form-control" id="fm_relationship" name="fm_relationship" required>
          </div>
        </div>
  
        <div class="row mt-3">
          <div class="col-md-6">
            <label for="fm_name_of_family_member">Name of family member</label>
            <input type="text" required class="form-control" id="fm_name_of_family_member" name="fm_name_of_family_member" required>
          </div>
          <div class="col-md-6">
            <label for="fm_family_name">Family name</label>
            <input type="text" required class="form-control" id="fm_family_name" name="fm_family_name" required> 
          </div>
        </div>
  
        <div class="row mt-3">
          <div class="col-md-6">
            <label for="fm_is_family_member_together">Is family member together?</label>
            <input type="text" required class="form-control" id="fm_is_family_member_together" name="fm_is_family_member_together" required>
          </div>
          <div class="col-md-6">
            <label for="fm_point_of_entry">Point of entry</label>
            <input type="text" class="form-control" id="fm_point_of_entry" name="fm_point_of_entry" required>
          </div>
        </div>
  
        <div class="row mt-3">
          <div class="col-md-6">
            <label for="fm_citizenship">Citizenship</label>
            <input type="text" required class="form-control" id="fm_citizenship" name="fm_citizenship" required>
          </div>
          <div class="col-md-6">
            <label for="fm_religion">Religion</label>
            <input type="text" class="form-control" id="fm_religion" name="fm_religion" required>
          </div>
        </div>
        
        <div class="row mt-3">
          <div class="col-md-6">
            <label for="fm_marital_status">Marital Status</label>
            <input type="text" required class="form-control" id="fm_marital_status" name="fm_marital_status" required>
          </div>
          <div class="col-md-6">
            <label for="fm_gender">Gender</label>
            <select class="form-control" id="fm_gender" name="fm_gender" required>
              <option>Male</option>
              <option>Female</option>
            </select>
          </div>
        </div>
  
        <div class="row mt-3">
          <div class="col-md-6">
            <label for="fm_address1">Address 1</label>
            <textarea required class="form-control" id="fm_address1" name="fm_address1"></textarea>
          </div>
          <div class="col-md-6">
            <label for="fm_address2">Address 2</label>
            <textarea required class="form-control" id="fm_address2" name="fm_address2"></textarea>
          </div>
        </div>
  
        <div class="row mt-3">
          <div class="col-md-6">
            <label for="fm_address3">Address 3</label>
            <textarea required class="form-control" id="fm_address3" name="fm_address3"></textarea>
          </div>
          <div class="col-md-6">
            <label for="fm_postcode">Postcode</label>
            <input type="text" required class="form-control" id="fm_postcode" name="fm_postcode"></textarea>
          </div>      
        </div>
  
  
  
  
  
        <div class="row mt-3">
          <div class="col-md-6">
            <label for="fm_city">Town/City</label>
            <select id="fm_city" name="fm_city" class="form-control">
              <option>a</option>
              <option>b</option>
              <option>c</option>
            </select>
          </div>    
          <div class="col-md-6">
            <label for="fm_state">State</label>
            <select id="fm_state" name="fm_state" class="form-control">
              <option>a</option>
              <option>b</option>
              <option>c</option>
            </select>
          </div>    
        </div>
  
        <div class="row mt-3">
          <div class="col-md-6">
            <label for="fm_contact_no">Contact no.</label>
            <input type="text" required class="form-control" id="fm_contact_no" name="fm_contact_no" required>
          </div>
          <div class="col-md-6">
            <label for="fm_race">Race</label>
            <input type="text" class="form-control" id="fm_race" name="fm_race" required>
          </div>
        </div>
  
        <div class="row mt-3">
          <div class="col-md-6">
            <label for="fm_place_of_birth">Place of birth</label>
            <input type="text" required class="form-control" id="fm_place_of_birth" name="fm_place_of_birth" required>
          </div>
          <div class="col-md-6">
            <label for="fm_employment_status">Employment Status</label>
            <input type="text" class="form-control" id="fm_employment_status" name="fm_employment_status" required>
          </div>
        </div>
  
        <div class="row mt-3">
          <div class="col-md-6">
            <label for="fm_employment_name">Employment name</label>
            <input type="text" required class="form-control" id="fm_employment_name" name="fm_employment_name" required>
          </div>
          <div class="col-md-6">
            <label for="fm_employment_address">Employment address</label>
            <textarea class="form-control" id="fm_employment_address" name="fm_employment_address" required></textarea>
          </div>
        </div>
  
        <div class="row mt-3">
          <div class="col-md-6">
            <label for="fm_capture_document">Capture Document</label>
            <input type="text" required class="form-control" id="fm_capture_document" name="fm_capture_document" required>
          </div>
        </div>
  
      </form>
    </div>
    <!-- End Family Member {fm} -->
  

{% include 'footer.html' %}
