{% include 'admin-header.html' %}

{% if(session['admin_registration_list_update']) %}
  <script>
    Swal.fire('Worker data updated successfully')
  </script>
  <p style="display:none;"> {{ session.pop('admin_registration_list_update', None) }} </p>
{% endif %}

{% if(session['admin_registration_list_delete']) %}
  <script>
    Swal.fire('Worker data deleted successfully')
  </script>
  <p style="display:none;"> {{ session.pop('admin_registration_list_delete', None) }} </p>
{% endif %}

<div class="back-button-div">
  <a href="/admin-dash" class="back-button">Home</a> 
</div>
<br>
<div class="container">
  {% if(session['langMalay']) == 'malay' %}
  <h5>Semua Status Kakitangan</h5>
  {% else %}
  <h5>All Staff Status</h5>
  {% endif %}
    
    <br>
    <table id="myTable" class="display">
      <thead>
        <tr>
          <th>
            {% if(session['langMalay']) == 'malay' %}
            Nama Pengguna Kakitangan
            {% else %}
            Staff Username
            {% endif %}
          </th>
          <th>
            {% if(session['langMalay']) == 'malay' %}
            Nama Pekerja
            {% else %}
            Staff IP
            {% endif %}
          </th>
          <th>
            {% if(session['langMalay']) == 'malay' %}
            Status
            {% else %}
            Status
            {% endif %}
          </th>
        </tr>
      </thead>
      <tbody>
        {% for staff in staff_ls %}
          <tr>
            <td>{{staff[0]}}</td>
            <td>{{staff[1]}}</td>
            <td>
              {% if staff[2] == 'connected' %}
                <img src="static/img/success.png" style="width: 30px;">
              {% else %}
                <img src="static/img/error.png" style="width: 30px;">
              {% endif %}
            </td>
          </tr>
        {%endfor%}
      </tbody>
        
      </table>
</div>
<script>
  $(document).ready( function () {
    $('#myTable').DataTable();
  });

  // Export All Data 
  $('#exportAll').hide()
  $(document).ready( function () {
    $('#checkAll').change(function(){
      if ($(this).prop('checked')) {
        $('#exportAll').show()
        // select All
        const checkboxes = document.getElementsByName('worker');
        checkboxes.forEach(checkbox => {
          checkbox.checked = true;
        });
        // End select all
      } else {
        $('#exportAll').hide()
        // unselect All
        const checkboxes = document.getElementsByName('worker');
        checkboxes.forEach(checkbox => {
          checkbox.checked = false;
        });
        // End unselect all 
      }
    });

    // Export All function
    $('#exportAll').click(function(){
        window.location = '/admin-download-excel-file?file=exportAll'
    });

    // Get selected
    $('#selectedExport').hide()
    $('input[name="worker"]').click(function(){
        $('#selectedExport').show()
        const checkboxes = document.getElementsByName('worker');
        const selectedWorkers = [];

        checkboxes.forEach(checkbox => {
            if (checkbox.checked) {
                selectedWorkers.push(checkbox.value);
            }
        });

        $('#selectedExport').click(function(){
            //const jsonArray = JSON.stringify(selectedWorkers);
            //console.log(jsonArray);
            window.location = '/admin-download-excel-file?file="'+selectedWorkers+'"' 
        });

      workerLength = selectedWorkers.length
      if(workerLength == 0){
        $('#selectedExport').hide()
      }
    })
    // End Get selected
  });
  // End Export All 
</script>

{% include 'admin-footer.html' %}
