{% include 'header.html' %}


{% if(session['biodata_success']) %}
  <script>
    Swal.fire('Biodata Updated Successfully')
  </script>
  <p style="display:none;"> {{ session.pop('biodata_success', None) }} </p>
{% endif %}

{% if(session['biodata_error']) %}
  <script>
    Swal.fire('Biodata Updation Fail!')
  </script>
  <p style="display:none;"> {{ session.pop('biodata_error', None) }} </p>
{% endif %}



{% if(session['registration_list_update1']) %}
  <script>
    Swal.fire('Worker data updated successfully')
  </script>
  <p style="display:none;"> {{ session.pop('registration_list_update1', None) }} </p>
{% endif %}

{% if(session['registration_list_delete1']) %}
  <script>
    Swal.fire('Worker data deleted successfully')
  </script>
  <p style="display:none;"> {{ session.pop('registration_list_delete1', None) }} </p>
{% endif %}

{% if session['user_print_qr_success'] %}
  <script>
    Swal.fire("{{ session['user_print_qr_success'] }}")
  </script>
  <p style="display:none;"> {{ session.pop('user_print_qr_success', None) }} </p>
{% endif %}

{% if session['user_print_qr_fail'] %}
  <script>
    Swal.fire("{{ session['user_print_qr_fail'] }}")
  </script>
  <p style="display:none;"> {{ session.pop('user_print_qr_fail', None) }} </p>
{% endif %}

<div class="back-button-div">
  <a href="/add-worker" class="back-button">Home</a> 
</div>
<br>
<div class="container">
  {% if(session['langMalay']) == 'malay' %}
  <h5>Jumlah Laporan- {{totalForm}}</h5>
  {% else %}
  <h5>Total Form- {{totalForm}}</h5>
  {% endif %}
    
    <br>
    <table id="myTable" class="display">
      <thead>
        <tr>
          <!--
          <th>
            <input type="checkbox" id="checkAll"> 
            {% if(session['langMalay']) == 'malay' %}
              Pilih
            {% else %}
              Select
            {% endif %} 
            <button id="exportAll" class="btn btn-dark">
              {% if(session['langMalay']) == 'malay' %}
              Eksport Semua
              {% else %}
              Export All
              {% endif %}
            </button>
            <button id="selectedExport" class="btn btn-dark">
              {% if(session['langMalay']) == 'malay' %}
              Eksport
              {% else %}
              Export
              {% endif %}
            </button>
          </th>
          -->
          <th>
            {% if(session['langMalay']) == 'malay' %}
            ID Laporan
            {% else %}
            Form ID
            {% endif %}
          </th>
          <th>
            {% if(session['langMalay']) == 'malay' %}
            Nama Pekerja
            {% else %}
            Workers Name
            {% endif %}
          </th>
          <th>
            {% if(session['langMalay']) == 'malay' %}
            Tindakan
            {% else %}
            Action
            {% endif %}
          </th>
        </tr>
      </thead>
      <tbody>
        {% for worker in workerList %}
          <tr>
           <!-- <td><input type="checkbox"  value="{{worker[0]}}" name="worker"></td> -->
            <td>{{worker[1]}}</td>
            <td>{{worker[2]}}</td>
            <td>
              <!--
              <a href="/download-excel-file?file={{worker[0]}}" class="btn btn-secondary">
                {% if(session['langMalay']) == 'malay' %}
                Eksport ke Excel
                {% else %}
                Export to Excel
                {% endif %}
              </a>
            -->
              <a href="/view-registered-worker1?view-regWor={{worker[0]}}" class="btn btn-primary">View</a>
              <a href="/edit-registered-worker1?view-regWor={{worker[0]}}" class="btn btn-secondary">Edit</a>
              <!--
              <a href="/del-registered-worker1?del={{worker[0]}}" class="btn btn-danger">Delete</a> -->
            </td>
          </tr>
        {%endfor%}
      </tbody>
        
      </table>
</div>
<script>
  $(document).ready( function () {
    $('#myTable').DataTable();
  });

  // Export All Data 
  $('#exportAll').hide()
  $(document).ready( function () {
    $('#checkAll').change(function(){
      if ($(this).prop('checked')) {
        $('#exportAll').show()
        // select All
        const checkboxes = document.getElementsByName('worker');
        checkboxes.forEach(checkbox => {
          checkbox.checked = true;
        });
        // End select all
      } else {
        $('#exportAll').hide()
        // unselect All
        const checkboxes = document.getElementsByName('worker');
        checkboxes.forEach(checkbox => {
          checkbox.checked = false;
        });
        // End unselect all 
      }
    });
    // Export All function
    $('#exportAll').click(function(){
      window.location = '/download-excel-file?file=exportAll'
    });

    // Get selected
    $('#selectedExport').hide()
    $('input[name="worker"]').click(function(){
      $('#selectedExport').show()
      const checkboxes = document.getElementsByName('worker');
      const selectedWorkers = [];

      checkboxes.forEach(checkbox => {
        if (checkbox.checked) {
          selectedWorkers.push(checkbox.value);
        }
      });

      $('#selectedExport').click(function(){
        // Convert the array to JSON string
        //const jsonArray = JSON.stringify(selectedWorkers);
        //alert(jsonArray);
        window.location = '/download-excel-file?file="'+selectedWorkers+'"'
      });

      workerLength = selectedWorkers.length
      if(workerLength == 0){
        $('#selectedExport').hide()
      }
    })
    // End Get selected
  });
  // End Export All 
</script>

{% include 'footer.html' %}
