{% include 'sub-admin-header.html' %}    
    
<!-- Page Container -->
<div class="container">
    <h5 class="text-center">Sub Admin Dashboard</h5>

    <!-- Row 1 
    <h5>START DATE OF THIS OUTREACH :</h5>
    <div class="roww" style="background-color: #D6EEEE;">
        <div class="columnn">
            <span class="admin-dash-label"></span>
        </div>
        <div class="columnn">
            TOTAL FOR TODAY
        </div>
        <div class="columnn">
            PLANTATION AAA
        </div>
        <div class="columnn">
            PLANTATION AAB
        </div>
        <div class="columnn">
            PLANTATION AAC
        </div>
        <div class="columnn">
            TOTAL FOR OUTREACH
        </div>
        <div class="columnn">
            PLANTATION AAA
        </div>
        <div class="columnn">
            PLANTATION AAB
        </div>
        <div class="columnn">
            PLANTATION AAC
        </div>
    </div>

    <div class="roww">
        <div class="columnn">
            <span class="admin-dash-label">LEGAL FW</span>
        </div>
        <div class="columnn">
            
        </div>
        <div class="columnn">
            
        </div>
        <div class="columnn">
            
        </div>
        <div class="columnn">
            
        </div>
        <div class="columnn">
            
        </div>
        <div class="columnn">
            
        </div>
        <div class="columnn">
            
        </div>
        <div class="columnn">
            
        </div>
    </div>

    <div class="roww" style="background-color: #D6EEEE;">
        <div class="columnn">
            <span class="admin-dash-label"> LEGAL DEPENDENTS</span>
        </div>
        <div class="columnn">
            
        </div>
        <div class="columnn">
            
        </div>
        <div class="columnn">
            
        </div>
        <div class="columnn">
            
        </div>
        <div class="columnn">
            
        </div>
        <div class="columnn">
            
        </div>
        <div class="columnn">
            
        </div>
        <div class="columnn">
            
        </div>
    </div>

    <div class="roww">
        <div class="columnn">
            <span class="admin-dash-label"> UNDOCUMENTED FW</span>
        </div>
        <div class="columnn">
            
        </div>
        <div class="columnn">
            
        </div>
        <div class="columnn">
            
        </div>
        <div class="columnn">
            
        </div>
        <div class="columnn">
            
        </div>
        <div class="columnn">
            
        </div>
        <div class="columnn">
            
        </div>
        <div class="columnn">
            
        </div>
    </div>

   
    <div class="roww" style="background-color: #D6EEEE;">
        <div class="columnn">
            <span class="admin-dash-label"> UNDOCUMENTED DEPENDENTS</span>
        </div>
        <div class="columnn">
            
        </div>
        <div class="columnn">
            
        </div>
        <div class="columnn">
            
        </div>
        <div class="columnn">
            
        </div>
        <div class="columnn">
            
        </div>
        <div class="columnn">
            
        </div>
        <div class="columnn">
            
        </div>
        <div class="columnn">
            
        </div>
    </div>


    <div class="roww">
        <div class="columnn">
            <span class="admin-dash-label"> PATI / IMM 13 / OTHERS</span>
        </div>
        <div class="columnn">
            
        </div>
        <div class="columnn">
            
        </div>
        <div class="columnn">
            
        </div>
        <div class="columnn">
            
        </div>
        <div class="columnn">
            
        </div>
        <div class="columnn">
            
        </div>
        <div class="columnn">
            
        </div>
        <div class="columnn">
            
        </div>
    </div>

    <div class="roww" style="background-color: #D6EEEE;">
        <div class="columnn">
            <span class="admin-dash-label"><b>TOTAL</b></span>
        </div>
        <div class="columnn">
            
        </div>
        <div class="columnn">
            
        </div>
        <div class="columnn">
            
        </div>
        <div class="columnn">
            
        </div>
        <div class="columnn">
            
        </div>
        <div class="columnn">
            
        </div>
        <div class="columnn">
            
        </div>
        <div class="columnn">
            
        </div>
    </div> -->

</div>
<!-- End Page Container -->
  

{% include 'sub-admin-footer.html' %}
