{% include 'sub-user-header.html' %}
<div class="back-button-div">
    <a href="/sub-user-add-worker" class="back-button">Home</a>
    <a href="/sub-user-registration-list" class="back-button">Registration List</a>
</div><br>

<div class="container">
    <!-- Worker Family Members -->
    <br><br>
    {% if(session['langMalay']) == 'malay' %}
    <h5>Ahli Keluarga Pekerja</h5>
    {% else %}
    <h5>Worker Family Members</h5>
    {% endif %}
    <hr>

    <div class="row">
        <div class="col-12">
            {% if workerFM|length > 0 %}
            {% for fm in workerFM %}
                <a href="/sub-user-edit-family-member?fm={{fm[0]}}" class="btn btn-primary">Family Member {{loop.index}}</a>
            {% endfor %}
            {% else %}
            N/A
            {% endif %}
        </div>
   </div>
    <!--End Row-->
    
    <!-- End * Worker Family Members -->
    
    <br><br>
    <hr>
    <!-- Worker Details -->
    {% for worker in workerList %}
        {% if(session['langMalay']) == 'malay' %}
        <h5>Butiran Pekerja Berdaftar</h5>
        {% else %}
        <h5>Registered Worker Details</h5>
        {% endif %}
    <hr>
    <form action="/sub-user-update-registered-worker" method="post">
        <div class="row">
            <div class="col-6">
                <input type="hidden" name="w_id" value="{{worker[0]}}">
                <p><b>Registration No-</b> <input type="text" value="{{worker[4]}}" disabled></p>
            </div>
            <div class="col-6">
                <p><b>Name-</b> <input type="text" name="w_name" value="{{worker[7]}}"></p>
            </div>
        </div>
        <!--End Row-->
        <div class="row">
            <div class="col-6">
                <p><b>No. of Family Members-</b> <input type="text" name="w_fm_no" value="{{worker[5]}}"></p>
            </div>
            <div class="col-6">
                <p><b>Status-</b> <input type="text" name="w_status" value="{{worker[6]}}"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <p><b>Created By-</b> <input type="text" value="{{worker[2]}}" disabled></p>
            </div>
            <div class="col-6">
                <p><b>Created Date-</b> <input type="date" value="{{worker[3]}}" disabled></p>
            </div>
        </div>
        <!--End Row-->
        <!--End Row-->
        <div class="row">
            <div class="col-6">
                <p><b>Gender-</b> <input type="text" name="w_gender" value="{{worker[9]}}"></p>
            </div>
            <div class="col-6">
                <p><b>Date of birth-</b> <input type="date" name="w_dob" value="{{worker[10]}}"></p>
            </div>
        </div>
        <!--End Row-->
        <div class="row">
            <div class="col-6">
                <p><b>Citizenship-</b> <input type="text" name="w_citizenship" value="{{worker[12]}}"></p>
            </div>
            <div class="col-6">
                <p><b>Marital status-</b> <input type="text" name="w_marital_status" value="{{worker[13]}}"></p>
            </div>
        </div>
        <!--End Row-->
        <div class="row">
            <div class="col-6">
                <p><b>Religion-</b> <input type="text" name="w_religion" value="{{worker[15]}}"></p>
            </div>
            <div class="col-6">
                <p><b>Contact No-</b> <input type="text" name="w_contact_no" value="{{worker[17]}}"></p>
            </div>
        </div>
        <!--End Row-->
        <div class="row">
            <div class="col-6">
                <p><b>Address 1-</b> <input type="text" name="w_address1" value="{{worker[25]}}"></p>
            </div>
            <div class="col-6">
                <p><b>Address 2-</b> <input type="text" name="w_address2" value="{{worker[26]}}"></p>
            </div>
        </div>
        <!--End Row-->
        <div class="row">
            <div class="col-6">
                <p><b>Address 3-</b> <input type="text" name="w_address3" value="{{worker[27]}}"></p>
            </div>
            <div class="col-6">
                <p><b>Postcode-</b> <input type="text" name="w_postcode" value="{{worker[28]}}"></p>
            </div>
        </div>
        <!--End Row-->
        <div class="row">
            <div class="col-6">
                <p><b>City-</b> <input type="text" name="w_city" value="{{worker[29]}}"></p>
            </div>
            <div class="col-6">
                <p><b>State-</b> <input type="text" name="w_state" value="{{worker[30]}}"></p>
            </div>
        </div>
        <!--End Row-->
        <div class="row">
            <div class="col-6">
                <p><b>Type of Document-</b> <input type="text" value="{{worker[32]}}" disabled></p>
            </div>
            <div class="col-6">
                <p><b>No. of Document-</b> <input type="text" value="{{worker[33]}}" disabled></p>
            </div>
        </div>
        <!--End Row-->
        <div class="row">
            <div class="col-6">
                <p><b>Place of Issue-</b> <input type="text" value="{{worker[35]}}" disabled></p>
            </div>
            <div class="col-6">
                <p><b>Issue Date-</b> <input type="date" value="{{worker[36]}}" disabled></p>
            </div>
        </div>
        <!--End Row-->
        <div class="row">
            <div class="col-6">
                <p><b>Expiry Date-</b> <input type="date" value="{{worker[37]}}" disabled></p>
            </div>
            <div class="col-6">
                <p><b>Issuing Country-</b> <input type="text" value="{{worker[38]}}" disabled></p>
            </div>
        </div>
        <!--End Row-->
        <div class="row">
            <div class="col-6">
                <p><b>Document Status-</b> <input type="text" value="{{worker[39]}}" disabled></p>
            </div>
            <div class="col-6">
                <p><b>Document Current Status-</b> <input type="text" value="{{worker[40]}}" disabled></p>
            </div>
        </div>
        <!--End Row-->
        <div class="row">
            <div class="col-6">
                <p><b>Document No.-</b> <input type="text" value="{{worker[41]}}" disabled></p>
            </div>
            <div class="col-6">
                <p><b>Form Position-</b> <input type="text" value="{{worker[42]}}" disabled></p>
            </div>
        </div>
        <!--End Row-->
        <div class="row">
            <div class="col-6">
                <p><b>Form Status-</b> <input type="text" value="{{worker[43]}}" disabled></p>
            </div>
        </div>
        <!--End row-->
        <br>
        <div class="row">
            <div class="col-6">
                <button type="submit" class="btn btn-primary">Update Worker Details</button>
            </div>
        </div>
        <!--End row-->
    </form>
    {%endfor%}
    <!-- End Worker Details -->

    <!-- Worker Douments Details -->
    <br><br>
    <hr>
    {% if(session['langMalay']) == 'malay' %}
    <h5>Butiran Dokumen Berdaftar</h5>
    {% else %}
    <h5>Registered Document Detail's</h5>
    {% endif %}
    <hr>
    {% if workerDocs|length > 0 %}
    {% for doc in workerDocs %}
    <br>
    <h5><span class="border-bottom">Document {{ loop.index }}</h5>
    <br>
    <form action="/sub-user-update-worker-docs" method="post">
        <div class="row">
            <div class="col-6">
                <input type="hidden" name="docs_id" value="{{doc[0]}}">
                <p><b>Type of Document-</b> <input type="text" name="type_of_document" value="{{doc[3]}}"></p>
            </div>
            <div class="col-6">
                <p><b>Document ID-</b> <input type="text" name="document_id" value="{{doc[4]}}"></p>
            </div>
        </div>
        <!--End Row-->
        <div class="row">
            <div class="col-6">
                <p><b>Place of Issue-</b> <input type="text" name="place_of_issue" value="{{doc[5]}}"></p>
            </div>
            <div class="col-6">
                <p><b>Issue Date-</b> <input type="date" name="issue_date" value="{{doc[6]}}"></p>
            </div>
        </div>
        <!--End Row-->
        <div class="row">
            <div class="col-6">
                <p><b>Expiry Date-</b> <input type="date" name="expiry_date" value="{{doc[7]}}"></p>
            </div>
            <div class="col-6">
                <p><b>Issuing Country-</b> <input type="text" name="issuing_country" value="{{doc[8]}}"></p>
            </div>
        </div>
        <!--End Row-->
        <div class="row">
            <div class="col-6">
                <p><b>Document Status-</b> <input type="text" name="document_status" value="{{doc[9]}}"></p>
            </div>
            <div class="col-6">
                <p><b>Document Current Status-</b> <input type="text" name="document_current_status" value="{{doc[10]}}"></p>
            </div>
        </div>
        <!--End Row-->
        <br>
        <div class="row">
            <div class="col-6">
                <button type="submit" class="btn btn-primary">Update Worker Doc {{loop.index}}</button>
            </div>
        </div>
        <!--End Row-->
    </form>
    {% endfor %}
    {% else %}
    N/A
    {% endif %}
    <!-- End * Worker Douments Details -->
     
</div>


{% include 'sub-user-footer.html' %}

